@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';

* {
    border-radius: 3px;
    font-size: 0.9rem;
}

input,
textarea,
select {
    padding: 3px 8px;
}
